* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif
}
main {
    background-color: azure;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap:  wrap;
    height: 100vh;
}

#header {
    margin-bottom: 3%;
}

#scoreboard {
    display:flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content:center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-weight: bold;
}
   
#hyphen {
       padding-left: 5%;
       padding-right: 5%; 
       font-size: 300%;
}
   
#playerScore, #computerScore {
       font-size: 250%;
}

#victory {
    margin-bottom: 2%;
}

#button-block {
    margin-top: auto;
    margin-bottom: auto;
    display:flex;
    justify-content: center;
    flex-basis: 100%;
}

.button {
    padding: 3% 3% 3% 3%;
}

#paper {
    margin-left: 2%;
    margin-right: 2%;
}

#results {
    margin-top: 2%;
}
